* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: blueviolet;
    color: white;
}

.container {
    margin: 18% auto;
    text-align: center;
}

input[type=text]{
    outline: none;
    text-align: center;
    font-size: 20px;
    background-color: yellowgreen;
    border: none;
    padding: 5px;
    border-radius: 20px;
}

#btn {
    background-color: transparent;
    color: white;
    border: 2px solid yellowgreen;
    border-radius: 20px;
    padding: 5px 10px;
    text-transform: uppercase;
    outline: none;
}

#btn:hover {
    background-color: yellowgreen;
    color: blue;
    font-weight: 600;
    border: none;
    transform: scale(1.1);
}
#btn:active {
    border: none;
}