* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    color: #FFFFFF;
}

.container {
    margin: 15% auto;
    text-align: center;
}

input[type=text]{
    text-align: center;
}